body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #dfe6f1;*/
  background-color: #ffffff;
}
/* Layout3 */
.Layout3 {
  position: absolute;
  width: 1366px;
  height: 868px;
  align-content: center;
  margin-top: -434px;
  top: 50%;
  background: #ffffff;
  border: 0px solid #7f7f7f;
  border-radius: 10px;
  box-sizing: border-box;
}

/* PanelV */
.PanelV {
  position: absolute;
  width: 346px;
  height: 868px;
  left: 0px;
  top: 0px;
  background: #7f7f7f;
  border: 1px solid #1e4a9a;
  box-sizing: border-box;
  border-radius: 6px 0px 0px 6px;
}
.Contenido {
  /* Contenido */
  position: absolute;
  width: 1020px;
  height: 868px;
  left: 346px;
  top: 0px;
  background: #dfe6f1;
  border: 1px solid #7f7f7f;
  box-sizing: border-box;
  border-radius: 0px 6px 6px 0px;
}

img {
  /* LogoControlSales 1 */

  position: absolute;
  width: 345px;
  height: 180px;
  left: 1px;
  top: 0px;
}
.Ad_productos {
  /* Ad_productos */
  position: absolute;
  width: 345px;
  height: 260px;
  left: 0px;
  top: 180px;
  background: #c4c4c4;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.Ad_Ventas {
  /* Ad_ventas */
  position: absolute;
  width: 345px;
  height: 260px;
  left: 0px;
  top: 440px;
  background: #c4c4c4;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.G_usuarios {
  /* G_usuarios */
  position: absolute;
  width: 345px;
  height: 103px;
  left: 0px;
  top: 700px;
  background-color: #c4c4c4;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.BTG_usuarios {
  position: absolute;
  width: 301px;
  height: 65px;
  left: 22px;
  top: 21px;
  background: #A8B9D8;
  border: 1px solid #1e4a9a;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: #ffffff;
}
.BTG_usuarios:hover {
  background-color: #1e4a9a;
}

.Cerrar_sesion {
  /* Cerrar_sesion */
  position: absolute;
  width: 345px;
  height: 65px;
  left: 1px;
  top: 803px;
  background: #ffffff;
  border-radius: 12px;
}
.buttoncs {
  /* Boton cerrar sesion */
  position: absolute;
  width: 345px;
  height: 65px;
  left: 0px;
  top: 0px;
  background: #1e4a9a;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;

  color: #ffffff;
}
.buttoncs:hover {
  background-color: #a8b9d8;
}

.Mod_admin_product {
  /* Modulo administrador de productos: */
  position: absolute;
  width: 259px;
  height: 67px;
  left: 27px;
  top: 28px;
}

.Tx_Mod_admin_product {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.75);
}
.Mod_admin_ventas {
  /* Modulo administrador de ventas */
  position: absolute;
  width: 265px;
  height: 60px;
  left: 26px;
  top: 28px;
}
.Tx_Mod_admin_ventas {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.75);
}
/* Rectangle 3 */

.button {
  position: relative;
  width: 300px;
  height: 65px;
  left: 23px;
  top: 102px;
  background: #a8b9d8;
  border: 1px solid #1a1a1b;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: #ffffff;
}
.button:hover {
  background-color: #1e4a9a;
}
.button:active {
  background-color: #1e4a9a;
}
