/*app.jsx*/
.principal{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
/*public layout*/
.mainpuly{
 height:100%;
 overflow-y: scroll;
 background-color:blue;

} 
/*sidebar*/
.sidebarmain{
    width: 288px;
    background-color:#1e4a99;
}  

/*PrivateLayout*/
.mainprly{
    display:flex;
    width:100%;
    height: 100vh;
    
}
/*main del privatelayout*/
.contentprly{
    display:flex;
    width:100%;
    background-color:pink;
    overflow-y: scroll;
}
/*navbar*/
.mainaNavbar{
    background-color:rgb(189, 187, 209);
}
.listnavbar{
    display:flex;
    width:fullwidth;
    justify-content:space-between;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Li iniciar sesion navbar */
.liinisesion{
    padding: 3px;
}



/*boton iniciar sesion en el navbar*/
.Buttonlogin{
    background-color: rgb(140, 45, 207);
    padding: 1px;
    color:aliceblue;
    border-radius: 6px;
    box-shadow: 2px;
    width:100px;
    height:30px;
}
.Buttonlogin:hover{
    background-color:rgb(33, 11, 48) ;
}

/*autntication layouth*/
.mainAuly{
    display:flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: hsl(219, 27%, 47%);
    padding-top: 5px;
   
   
}
/*children del AuthLayout*/
.childAutly{
    width:100%;
    display:flex;
}
/*estilos par login */
/*form login*/
.mainLogin{
display:flex;
width:100%;
margin-left: 100px;
margin-right: 100px;
/*
justify-content: center;
align-items: center;
flex-direction: column;
*/
background-color:rgb(179, 170, 170);

}
/*titulo login*/
.titleLogin{
    margin-left: 3px;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 800px;   

}
.formLogin{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    max-width: 448px;
    margin-left: 30px;
    
}

/*inputs del login*/
.inpute{
   width:100%;
   padding: 3px;
   border-top-left-radius:1px 1px 6px;  
}
.inputp{
    width:100%;
    padding: 3px;
    border-top-left-radius:1px 1px 6px;  
 }
 .txtLogin{
     display:flex;
     width: 50%;
     margin-top: 5%;
     margin-bottom: 5%;
     margin-right:100px;
     margin-left:100px;
     justify-content:center;
     font-size: 25px;
 }